/* Form container */
.form-container {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 5px;
  }
  
  /* Form heading */
  .form-container h2 {
    margin-bottom: 20px;
    color: #333;
  }
  
  /* Form group */
  .form-group {
    margin-bottom: 20px;
  }
  
  /* Label */
  label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
    color: #333;
  }
  
  /* Text input */
  input[type='text'],
  textarea,
  input[type='file'] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
  }
  
  /* Textarea */
  textarea {
    resize: vertical; /* Allow vertical resizing */
  }
  
  /* Submit button */
  button[type='submit'] {
    padding: 12px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  button[type='submit']:hover {
    background-color: #0056b3;
  }
  
  .imgError{
    color: rgb(201, 0, 0);
    font-size: .74rem;
    position: relative;
    margin: 0px;
    top: -15px;
    height: 20px;
  }
  
  select {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  /* Style select dropdown arrow */
  select::-ms-expand {
    display: none;
  }
  
  select::-webkit-select-arrow {
    display: none;
  }
  
  select::after {
    content: '\25BC'; /* Unicode character for down arrow */
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    pointer-events: none; /* Ensures the arrow does not interfere with clicking */
  }